*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.merriweather-normal{
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-style: normal;
}

.nav-sec{
    max-width: 1160px;
    margin: 0px auto;
    
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 0px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.home{
    color: #FEA301;
}

.about{
    color: #01ACFD;
}

.facilites{
    color: #05D4DF;
}

.admission{
    color: #5D58EF;
}

.nav-btn{
    padding: 10px 60px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    background: #FEA301;
    border-radius: 12px;
    text-decoration: none;
}
/*navbar shared style*/

.menu-text{
    list-style: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}


/* Hero-Sec */
.hero-sec{
    max-width: 1160px;
    margin: 0px auto;
}

.hero-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.hero-text{
    align-self: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.hero-heading{
    width: 580px;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; 
}

.empowering{
    color: #FEA301;
}

.towards-vision{
    color: #01ACFD;
}

.hero-img{
    width: 469px;
}

.hero-des{
    font-family: Quicksand;
    color: #111;
    font-size: 20px;
    font-weight: 400;
}

.hero-btn{
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 47px;
    background-color: #111;
    border-radius: 12px;
    width: 197px;
    text-decoration: none;
}