
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.merriweather-normal{
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-style: normal;
}

/*shared style*/

.heading{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
}

.card{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 52px 40px;
    gap: 32px;
}

.card-heading{
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 24.523px;
    font-weight: 700;
    line-height: 30.654px;
}

.card-des{
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 15.091px;
    font-weight: 500;
    line-height: 28.296px;
}

.card-btn{
    font-family: Quicksand;
    font-size: 15.091px;
    font-weight: 700;
    line-height: 28.296px;
    text-decoration: none;
}

 
/**/
.nav-sec{
    max-width: 1160px;
    margin: 0px auto;
    
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.home{
    color: #FEA301;
}

.about{
    color: #01ACFD;
}

.facilites{
    color: #05D4DF;
}

.admission{
    color: #5D58EF;
}

.nav-btn{
    padding: 10px 60px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    background: #FEA301;
    border-radius: 12px;
    text-decoration: none;
}
/*navbar shared style*/

.menu-text{
    list-style: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}


/* Hero-Sec */
.hero-sec{
    max-width: 1160px;
    margin: 0px auto;
}

.hero-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.hero-text{
    align-self: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

 

.hero-heading{
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px; 
}

.empowering{
    color: #FEA301;
}

.towards-vision{
    color: #01ACFD;
}

.hero-img{
    width: 469px;
}

.hero-des{
    font-family: Quicksand;
    color: #111;
    font-size: 20px;
    font-weight: 400;
}

.hero-btn{
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 47px;
    background-color: #111;
    border-radius: 12px;
    width: 197px;
    text-decoration: none;
}

/*Curriculum Sec*/

.curriculum-sec{
    background: url('../assets/bg.png');
    background-position: center;
    background-size: cover;
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 80;
    padding: 60px 0px;

}

.curriculum-container{

    margin-bottom: 80px;
}
.curriculum-card-container{
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-bottom: 80px;
}

.card1{
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;


}

.card2{
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card3{
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-btn1{
    color: #64C8FF;
}

.card-btn2{
    color: #F0AA00;
}

.card-btn3{
    color: #8700FF;
}

.card-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.icon{
    cursor: pointer;
    padding: 17px 22px;
    border-radius: 30px;
    background: #FEA301;
}

/*Blog-sec*/

.blog-sec{
    
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-image: url('/assets/bg.png'), linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%); 
    background-position: center;
    background-size: cover;
}

.hamburger-icon {
    display: none; /* Hidden on larger screens */
}



.blog-heading{

    justify-content: center;
    align-items: center;
}


.blog-container{
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 80px;
}

.blog-img{
    border-radius: 16px 16px 0px 0px;
}

.blog-card-parent{
    display: flex;
    flex-direction: row;
    gap: 19px;
     
}


.blog-card1{

    width: 540px;
}

.date{
    color: #FFF;
    font-family: Raleway;
    font-size: 15.339px;
    font-weight: 500;
    line-height: 28.761px;
    text-transform: capitalize;
    padding: 14px 19px;
    border-radius: 47.934px;
    background: #3CD8E8;
    position: relative;
    margin-top: -30.5px;
    margin-bottom: 36px;
}

.blog-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0px 68px 34px 38px;
    border-radius: 0px 0px 16px 16px;
    background: #FFF;   
}

.blog-title{
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.347px;
    margin-bottom: 51px;
}

.blog-des{
    color: #666;
    font-family: Raleway;
    font-size: 15.339px;
    font-weight: 500;
    line-height: 28.761px; 
}



.blog-square{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
}

.blog-card{
    width: 290px;
     
}

 
.blog-title2{
    color: #000;
    font-family: Quicksand;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
}

.date2{
    margin-bottom: 23px;
    color: #FFF;
    font-family: Raleway;
    font-size: 15.339px;
    font-weight: 700;
    line-height: 28.761px;
    text-transform: capitalize;
    padding: 10px 19px;
    border-radius: 47.934px;
    background: #95B226;
    position: relative;
    margin-top: -30.5px;
    text-align: center;
}

.blog-text2{
    padding: 0px 38px 28px 38px;
    background-color: #FFF;
    border-radius: 0px 0px 16px 16px;
}

 
.blog-btn-container{
    justify-self: center;
    align-self: center;
}


/*Footer-sec*/

.footer-sec{
    background-color: #01ACFD;
}


.footer-container{
    width: 1160px;
    margin: 0px auto;
    padding: 122px 0px 174px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer1{
    gap: 35px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-heading{
    color: #FFF;
    font-family: Quicksand;
    font-size: 42.143px;
    font-weight: 700;
    line-height: 39.509px;
}

.footer-des{
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
}

.footer2{
    display: flex;
    flex-direction: column;
    gap: 32px;
     
}

.menu-heading{
    color: #FFF;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
}


.menu-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-name{
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
}

.footer3{
     
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-heading{
    color: #FFF;
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px; 
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}   
















@media screen and (max-width: 576px) {
    .blog-sec{
        padding-bottom: 60px
    }
    .menu {
        display: none; /* Hide the menu on mobile */
    }
    .nav-btn {
        display: none; /* Hide the nav button on mobile */
    }
    .hamburger-icon {
        display: block; /* Show the hamburger icon on mobile */
    }

    .hero-sec {
       
        padding: 0px 20px;
        margin-bottom: 60px;
    }

    .hero-container {
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero-text{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-heading , .hero-des{
       align-self: center;
    }

    .hero-img{
        margin-top: 8px;
    }
    .hero-des {
        width: 100%; /* Adjust width for smaller screens */
    }

    .hero-btn{
        width: auto;
         
    }

    .card-des{
        font-size: 10px;
    }

    .nav-container{
        border-bottom: 1px solid #FEA301;
        padding: 16px 20px;
    }

    .hero-heading{
        width: 100%;
    }

    .hero-img {
        width: 100%;
    }

    .curriculum-sec{
        padding-top: 40px;
    }

    .curriculum-container{
        margin-bottom: 20px;
    }

    .curriculum-card-container{
        flex-wrap: wrap;
        gap: 12px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    .card-des{
        width: 194px;
    }

    .card{
        width: 100%;
    }

    .card-icons{
        display: none;
    }

    .curriculum-sec{
        padding: 0px;
    }

    .blog-sec{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .blog-card1{
        display: none;
    }

    .blog-sec{
        padding: 0px 20px;

    }

    .blog-container{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .blog-card{
        width: 183px;
    }

    .blog-img{
        width: 100%;
    }

    .blog-square{
        gap: 11px;
        justify-content: space-between;
    }

    .blog-card-parent{
        gap: 11px;
    }

    .date2{
    color: #FFF;
    font-family: Raleway;
    font-size: 9.133px;
    font-weight: 500;
    line-height: 17.125px;
    text-transform: capitalize;
    padding: 5px 10px;
    margin-top: -18px;

    }

    .blog-text2{
        padding: 0px 22px 17px 22px;
    }

    .footer-sec{
        padding: 0px 20px;
    }

    .footer-container{
        width: 100%;
        gap: 32px;
        padding: 60px 0px;

    }

    .footer1 , .footer2 , .footer3{
        width: 100%;
    }

    
}

@media screen and (max-width:393px) {
    .blog-sec{
        padding-bottom: 60px
    }
    .blog-card{
        width: 170px;
    }


}

@media screen and (max-width:390px) {
    .blog-sec{
        padding-bottom: 60px
    }
   
}

@media screen and (max-width:412px) {
    .blog-sec{
        padding-bottom: 60px
    }
    .blog-card1{
        display: none;

    }

    .blog-card{
        width: 166px;
    }
}